body{
    background-image: url("tajmahal.jpeg");
    background-size: cover;
    background-position: center;
}

.collage > * {
    width:500px;
    border:2px solid yellow;   
}

.collage {
        display: flex;
    justify-content: center;
}
